<%= render 'shared/errors', obj: @new_assignment_collection %>

<%= form_for @new_assignment_collection, url: assignments_path, method: :post do |f| %>

    <div class="form-group">
      <div class="pull-left">
        <%= f.text_field :delivery_date, class: 'form-control datepicker', placeholder: 'dd/mm/yyyy', autocomplete: 'off', readonly: true%>
      </div>
      <%= button_tag(type: 'submit', name: nil, class: 'btn btn-warning btn-min-width') do %>
          <span class="glyphicon glyphicon-plus"></span> Create New
      <% end %>
    </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".datepicker").datepicker({format: 'dd/mm/yyyy'});
  });
</script>
