# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6f8c6ceb32cf2a6813fa474e2df5f5fed909b381cbce560d3a2897efa045eb6a8197194dc92d91d8aca9617b1d0dc784d72968d78be86a94376334b77b738057

test:
  secret_key_base: 7d05ae34cf6161735b30ac57386144b755287f284884b8fbebdce648f0a38ad3b029fd5169b3f36eb9bb0062a409b99fc1d8336166849e6847606ab106d0b612

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
