$navbar-app-height: 80px;
$color-app-primary: #00BE43;
$color-app-active: orange;

$color-app-fulfilled: #90ea8a;
$color-app-missing: #ff9696;
$color-app-substituted: #fffaa5;

$color-app-text-secondary: #777777;