@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-app-height: 80px;
$color-app-primary: #00BE43;
$color-app-active: orange;

$color-app-fulfilled: #90ea8a;
$color-app-missing: #ff9696;
$color-app-substituted: #fffaa5;

$color-app-text-secondary: #777777;

/* NAVBAR */
/* ------------------------------------------------------ */

.navbar-default{
  height: $navbar-app-height;

  .navbar-brand{
    padding: 10px 20px 0 0;
  }

  #navbar-brand-image{
    height: auto;
    width: 140px;
  }

}

.navbar-nav{

  li a{
    line-height: $navbar-app-height;
    font-size: 1.3em;
    transition: all .1s ease-in-out;
    padding: 0 15px;
  }
  li a:hover{
    transform: scale(1.1);
  }
}


/* GENERAL */
/* ------------------------------------------------------ */

input[type=text]{
  border-radius: 1px;
}

.btn{
  border-radius: 0;
}
.btn-min-width{
  min-width: 150px;
}

a:link, a:visited {
  color: orange;
}

a.btn{
  color: white;
}
a.btn-default{
  color: black;
}

.section-header{
  margin: 30px 0;
}
.top-bot-margin{
  margin: 20px 0;
}

/* REPORT DETAILS HEADER */
/* ------------------------------------------------------ */


.line-item-image{
  height: 80px;
  width: auto;
}

.store-logo{
  height: 50px;
  width: 150px;
}


/* REPORT DETAILS BODY */
/* ------------------------------------------------------ */

.nav-tabs{
  font-size: 1.5em;
}
.bold{
  font-weight: bold;
}
.big-cell{
  font-size: 30px;
}
.medium-cell{
  font-size: 22px;
}
.footer-row > td{
  border-top: 1px solid black !important;
}
.no-border-row > td{
  border-top: 0 !important;
}
.color-fulfilled{
  background-color: $color-app-fulfilled;
}
.color-substituted{
  background-color: $color-app-substituted;
}
.color-missing{
  background-color: $color-app-missing;
}
.color-primary{
  background-color: $color-app-primary;
}
.color-active{
  background-color: $color-app-active;
}

#report-shop-summary{
  margin-top: 60px;
}

#report-line-items{
  margin-top: 80px;
  margin-bottom: 10px;
}

#report-line-items, #report-shop-summary{

  td, th{
    text-align: center;
    vertical-align: middle !important;
  }
}

#report-header{

  height: 80px;

  div{
    height: 100%;
    width: 100px;
    float: left;
    margin-right: 10px;
    background-color: $color-app-primary;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 1.5em;
  }
  p{
    color: $color-app-text-secondary
  }
}



/* PRODUCT EDIT */
/* ------------------------------------------------------ */

#product-edits-table{
  margin: 60px 0 20px 0;

  td, th{
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
  }
}
.product-edit-state-header > th{
  color: white;
  text-align: center;
}

.original-edited-divider{
  border-left: 1px solid #CCCCCC;
}
.product-updated-icon{
  font-size: 1.5em;
  margin-top: 10px;
  color: $color-app-primary;
  font-weight: bold;
}